h4 {
	margin-bottom: 20px;
}

.navbar-brand {
	padding-top: 15px;
	padding-left: 16px;
}

.navbar-inverse .navbar-brand {
    color: #efefef;
}

.link-panel {
	float: right;
	padding: 0px;
}

.titulo-panel {
	float: left;
	padding-top: 5px;
}

.panel-title {
	font-size: 14px;
	font-weight: 600;
}

@media (max-width: 575.98px) {
	.container {
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.navbar-brand {
		padding-left: 25px;
	}
}

.table {
	margin-bottom: 50px;
}

.mr-15 {
	margin-right: 15px;
}

